*{
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
}

body{
	background-color: #072039;
}

.navbar{
	background-color: #073462;
}

.navbar-brand{
  position: relative;
  width: 35px;
  height: 35px;
  display: inline-block;
  overflow: hidden;
  transition: 0.5s;
  transform: translate(0px,0px);
}

.userbutton{
  width: 100%;
  transition: all linear 0.2s;
  transform: rotate(0deg);
  
}
img.hover{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: rotate(0deg);
}

.navbar-brand:hover{
  position: relative;
  transition: 0.3s;
  transform: translate(0px, -3px);
 
}
.navbar-brand:hover .userbutton{
 /* position: relative;
  transition: 0.5s;
  transform: translate(0px, -5px);*/
  opacity: 0;
  transform: rotate(360deg);
}
.navbar-brand:hover img.hover{
/*  position: relative;
  transition: 0.5s;
  transform: translate(0px, -5px);*/
  opacity: 1;
  transform: rotate(360deg);
}

.nav-link{
  position: relative;
  color: white;
}

.nav-link:hover{
  color: white;
  transition: all 0.3s;
  transform: translate(0px, -5px);
  text-shadow: 0px 5px 4px black;
}
.nav-link:active,
.navbar-brand:active{
  transform: translate(0px, 2px);
  text-shadow: none;
  transition: all 0.1s;
}


.aboutphoto{

  width: auto;
  height: 50%;
   box-shadow: 0px 10px 10px rgba(0,0,0,0.7);

}
#landing{
	background-image: 
		linear-gradient(rgba(0, 81, 167, 0.6), rgba(0, 0, 0, 0.7)),
		url(images/landing_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	box-shadow: 0px 10px 10px rgba(0,0,0,0.3);

}

#about{
  background-image: url(images/about_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
  
}

#resumebtn{
  background: none;
  border-width: 2px;
}

#resumebtn:hover {
  background-color: #F8BD08;

}



.navbar-brand{
	-webkit-filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.7));
filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.7));
}

p{
	font-family: 'Merriweather Sans', sans-serif;
}

#my-projects, #contact{
  background-color: #072039;
}

#projects{
	background-color: #BAD3FF;
}

#project-title{
	color: #063C76;

}

#project-sample{
	color: #00264F;
}

#tools-title{
	 background-image: url(images/tools-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
  
}

.tools{
  background-color: #7F9BB9 ;
}
.webdev-tools{
  height: 127px;

}

.web-tools{
  height: 85px;
  width: 95px;
  overflow: hidden;
  transition: 0.2s ease-out;
  cursor: pointer;
  background-color: none;
  background-size: 85px 85px;
  border-radius: 42.5px;
  
}
.web-tools:hover{
  height: 100%;
  width: 95px;
  background-color: #7F9BB9 ;
  border-radius: 10px;
  background-size: auto;
 
  box-shadow: 0px 10px 10px rgba(0,0,0,0.7);
  
  
}


#gmap_canvas {
	height: 88vh;
	width: 100%;
}

html {
	scroll-behavior: smooth;
}


/*social media button*/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');



a{
  text-decoration: none;
  color:#000 ;
}
.wrapper .button {
  display: inline-block;
  height: 60px;
  width: 59px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
  transition: all 0.2s ease-out;
  
  
}
@media (hover: hover){
  .wrapper .button:hover {
  width: 160px;
  }  
}



.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
  
}
@media (hover: hover){
  .wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
    }
}
@media (hover: hover){
  .wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
  }
}

@media (hover: hover){
  .wrapper .button:nth-child(3):hover .icon{
  background: #333;
    }
}


.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
  color:#000
  justify

}
@media (hover: hover){
  .wrapper .button:hover .icon i{
  color: #fff;
  }
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 0px;
  transition: all 0.3s ease-out;
  
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}

.wrapper .button:nth-child(3) span{
  color: #333;
}

