*{
	font-family: 'Oswald', sans-serif;
}

body{
	background-color: #F7F9FF;
}

.navbar, #contact{
	background-color: rgb(6,60,118);
}

#landing{
	background-image: 
		linear-gradient(rgba(0, 81, 167, 0.6), rgba(0, 0, 0, 0.7)),
		url(images/landing_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;

}

p{
	font-family: 'Merriweather Sans', sans-serif;
}

#projects{
	background-color: #BAD3FF;
}

#project-title{
	color: #063C76;

}

#project-sample{
	color: #00264F;
}

#tools-title{
	background-color: #7F9BB9;
}

#gmap_canvas {
	height: 82vh;
	width: 100%;
}

html {
	scroll-behavior: smooth;
}
